.min-vh-100 {
    min-height: 100vh;
}

.card {
    border-radius: 10px;
    border: none;
}

.card-header {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    padding: 1.5rem;
}

.input-group-text {
    background-color: #f8f9fa;
    border-right: none;
}

.input-group .form-control {
    border-left: none;
}

.input-group .form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

.input-group .form-control:focus + .input-group-text {
    border-color: #8eb7fe;
}

.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
}