.min-vh-100 {
    min-height: 100vh;
}

.card {
    border-radius: 10px;
    border: none;
}

.card-header {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    padding: 1.5rem;
}

.input-group-text {
    background-color: #f8f9fa;
    border-right: none;
}

.input-group .form-control {
    border-left: none;
}

.input-group .form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

.input-group .form-control:focus + .input-group-text {
    border-color: #8eb7fe;
}

.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.task-card {
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.task-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: translateY(-3px);
}

.panel-heading .panel-title {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel-body p {
    min-height: 60px;
}

.btn-group-justified .btn {
    float: none;
    display: table-cell;
    width: 1%;
}

.footer {
    background-color: #222;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    color: #f8f9fa
}