<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
	<styleBundle path="~/Content/css">
		<include path="~/Content/bootstrap.min.css" />
		<include path="~/Content/Site.css" />
	</styleBundle>
	<scriptBundle path="~/bundles/jquery">
		<include path="~/Scripts/jquery-{version}.js"/>
	</scriptBundle>
	<scriptBundle path="~/bundles/bootstrap">
		<include path="~/Scripts/bootstrap.bundle.min.js"/>
	</scriptBundle>
	<scriptBundle path="~/bundles/modernizr">
		<include path="~/Scripts/modernizr-{version}.js"/>
	</scriptBundle>
</bundles>